
<script src="/public/js/socket.io.min.js"></script>
<script src="/public/js/coven.js"></script>
<div id="menuContainer">
  >
  <button id="setUser"> Set Nickname! </button>
  <button type="button" name="button">uhhhh</button>
  <button type="button" name="button">fuck</button>
</div>
<div id="messageList"></div>
<form id="form" class=".container-fluid" onsubmit="event.preventDefault(); return sendMessage();">>
  <input id="messageInput"  autocomplete="off"/> <button id="sendMessage" name="sendMessage">Send</button>
</form>
<div id="userModal" class="modal">
  <div id="userModalCard" class="modal-card">
    <div class="modal-header">
        <div style="float:left; padding-right:25px;" id="return" name="return"><==</div>
        <div style="float:left; overflow:hidden;">Update Profile</div>
        <div style="float:right;" class=".close">X</div>
    </div>
    <div id="userModalBody" class="modal-body">
      <form onsubmit="event.preventDefault(); return changeUsername();">
        <div>
          <label for="usernameField" class="menuLabel">New Display Name</label>
          <input id="usernameField" class="menuInput"/>
        </div>
        <div>
          <label for="colorField" class="menuLabel">New Color</label>
          <input id="colorField" class="menuInput"/>
        </div>
        <button>Submit</button>
        </form>
    </div>
  </div>
</div>
<div id="onlineModal" class="modal">
  <div class="modal-card">
    <div class="modal-header">
        <div style="float:left; padding-right:25px;" id="return" name="return"><==</div>
        <div style="float:left; overflow:hidden;">Update Profile</div>
        <div style="float:right;" class=".close">X</div>
    </div>
    <div class="modal-body">
      <div id="userList"></div>
    </div>
  </div>
</div>
